@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: NimbusSansL-Reg;
    src: url('/fonts/NimbusSanL-Reg.otf') format('opentype');
}

body {
    max-width: 1440px;
    @apply mx-auto;
    @apply font-body;
}

.news-banner {
    background-image: url("/Stroke-Texture.png");
}


