@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: NimbusSansL-Reg;
    src: url('/fonts/NimbusSanL-Reg.otf') format('opentype');
}

body {
    max-width: 1440px;
    border: 1px solid;
    @apply w-screen;
    @apply mx-auto;
    @apply font-body;
    @apply m-auto;
}

.news-banner {
    background-image: url("/Stroke-Texture.png");
}


